<div class="container py-5 text-center" *ngIf="!office">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to your office</h1>
      <p class="fs-5">Here you can take care of your business</p>
    </div>
  <div class="col-md-4 p-2">
<div class="p-2 border shadow overflow-auto">
  <h2>Sell products</h2>
  <p class="fs-6">By following the istructions provided from us, you can upload, update or delete your products. So the clients can see them.</p>
</div>
  </div>
  <div class="col-md-4 p-2">
<div class="p-2 border shadow overflow-auto">
  <h2>Monitoring your earnings</h2>
  <p class="fs-6">We assist you to take note of your earnings. Each time a client buy from you we save the order. Day by day.</p>
</div>
  </div>
  <div class="col-md-4 p-2">
<div class="p-2 border shadow overflow-auto">
  <h2>Search for other businesses</h2>
  <p class="fs-6">You have your business.But what if you want to order something ? So from here you can order products too</p>
</div>
  </div>
  <div class="col-md-8 py-5 my-5">
<h1>Your business</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
   in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-md-4 py-5 my-5">
    <img src="assets/office/respiz.avif" class="w-100" data-aos="fade-left" data-aos-duration="2000" alt="">
  </div>
  </div>
</div>
  <div class="col-md-12 bg" *ngIf="!office">
    <div class="container">
      <div class="row">
    <div class="col-md-4 py-5 ">
        <img src="assets/office/FoodDelivery.jpg" class="w-100" data-aos="fade-right" data-aos-duration="2000" alt="">
      </div>
  <div class="col-md-8 py-5">
    <h1>Our delivery workers</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
       in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="container text-center" *ngIf="!office">
    <div class="row">
      <div class="col-md-8 py-5 my-5">
        <h1>Our deals</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
           in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-md-4 py-5 my-5">
            <img src="assets/office/money.jpg" class="w-100" data-aos="fade-left" data-aos-duration="2000" alt="">
          </div>
          <div class="col-md-12 py-5">
            <h1>
              Let's start!
            </h1>
            <button class="bg-warning border border-none p-2" (click)="goToOffice()"> Go to office</button>
          </div>
  </div>
</div>
<div class="container text-center py-5" *ngIf="office">
  <div class="row py-5">
    <div class="col-md-12">
      <div class="row" *ngIf="esercizio">
        <div class="col-md-4 p-1">
          <div class="p-2 bg border shadow-sm">
            <img src="{{esercizio.immagine_profilo}}" class="w-100" alt="">
          </div>
        </div>
        <div class="col-md-8 p-1 fs-5">
          <div class="p-2 bg border shadow-sm" style="height: 100%;">
            <h1>{{esercizio.id + " - " + esercizio.nome}}</h1>
<p class="py-1">{{esercizio.tipoEsercizio}}</p>
<p class="py-1">Dove ti trovi ? {{esercizio.indirizzo + " - " + esercizio.citta.nome}}</p>
<p class="py-1">Email {{esercizio.email}}</p>
          </div>
</div>
        <div class="col-md-8 p-1">
<div class="p-2 bg border shadow-sm">
  <h2>Da qui puoi inserire i tuoi prodotti nel menù.</h2>
<form [formGroup]="prodottoForm">
<label class="py-1">Che tipo di prodotto vuoi inserire?</label>
<select name="" class="form-select w-75 m-auto" id="" formControlName="tipoProdotto">
  <option value=""></option>
  <option value="{{tp}}" *ngFor="let tp of tipoProdotto">{{tp}}</option>
</select>
<label class="py-1">Come si chiama il tuo prodotto?</label>
<input type="text" class="form-control w-75 m-auto" formControlName="nome">
<label class="py-1">Scegli gli ingredienti</label>
<select name="" class="form-select w-75 m-auto" id="" (change)="updateIngredienti(prodottoForm.controls['ingrediente_id'].value)" formControlName="ingrediente_id">
<option value=""></option>
<option value="{{i.id}}" *ngFor="let i of ingredienti">{{i.nome}}</option>
</select>
<p *ngFor="let i of chosedIngredients,index as a"><span >{{i.nome}}</span>
  <span *ngIf="a+1<chosedIngredients.length">,</span> <span *ngIf="a+1==chosedIngredients.length">.</span> <button class="btn fs-6" (click)="removeItemFromChosed(i)">❌</button></p>
<label class="py-1">Il prezzo :</label>
<input type="number" class="form-control w-75 m-auto" formControlName="prezzo">
<label class="py-1">Il tuo locale :</label>
<input type="text" class="form-control w-75 m-auto" formControlName="esercizio_id">
<button class="btn btn-success my-2" (click)="addProdotto()">Aggiungi prodotto al menù</button>
          </form>
</div>
        </div>
        <div class="col-md-4 p-1">
<div class="p-2 bg border shadow-sm overflow-auto" style="height: 100%;">
<h2>Menù</h2>
<p class="fs-4 py-4" *ngIf="!menu||menu&&menu.length==0">
 Inserisci i tuoi prodotti!
</p>
<div *ngFor="let p of menu" class="fs-5">
  <h2>Antipasti</h2>
  <p *ngIf="p.tipoProdotto=='ANTIPASTO'">
{{p.nomeProdotto + ' - ' + p.prezzo}} <br><span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
    <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span>
  </p>
</div>
</div>
        </div>
        <div class="col-md-3 p-1">

        </div>
        <div class="col-md-3 p-1">

        </div>
        <div class="col-md-3 p-1">

        </div>
        <div class="col-md-3 p-1">

        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button class="bg-warning border border-none p-2" (click)="goToOffice()">Close office</button>
    </div>
  </div>
</div>
