<div class="container text-center py-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to OrdersApp</h1>
    <p>The n°1 company for delivery.</p>
    </div>
<div class="col-md-12 py-5">
  <div class="row">
  <div class="col-md-4">
<div class="p-3 bg-light border rounded w-75 m-auto upper">
  <h2>Lorem ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class=" bg-warning border rounded w-100 lower">
  <img src="../../../assets/home/food-delivery.jpg"  alt="">
</div>
</div>
<div class="col-md-4">
<div class="p-3 bg-light border rounded w-75 m-auto upper">
  <h2>Lorem ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>
<div class=" bg-warning border rounded w-100 lower">
  <img src="../../../assets/home/food-delivery.jpg"  alt="">
</div>
</div>
<div class="col-md-4">
<div class="p-3 bg-light border rounded w-75 m-auto upper">
  <h2>Lorem ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>
<div class=" bg-warning border rounded w-100 lower">
  <img src="../../../assets/home/food-delivery.jpg"  alt="">
</div>
</div>
  </div>
</div>
<div class="col-md-6 py-5" data-aos="zoom-in" data-aos-duration="3000">
 <h2>We take trace of your earnings</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>
<div class="col-md-6 py-5" data-aos="zoom-in" data-aos-duration="3000">
<h2>Large portfolio of users</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>
<div class="col-md-12 py-5">
  <div class="row">
    <div class="col-md-3 p-4" *ngFor="let c of images,index as i" (mousemove)="hoverCard(c,i,$event)" (mouseout)="xDeg=0;yDeg=0">
      <div class="p-3">
  <div class="w-100 p-2 rounded bg-success" id="card{{i}}" >
    <div class="border border-danger rounded">
      <img src="{{c}}"  class="w-100 rounded"/>
            </div>
  </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 py-5" data-aos="fade-right" data-aos-duration="3000">
<h1 class="py-5">N°1 delivery company</h1>
<p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="col-md-6 py-5">
<img src="../../../assets/home/food-delivery.jpg" alt="" class="w-75 py-5 m-auto rounded">
</div>
<div class="col-md-12 py-5">
<div class="row">
  <div class="p-2 m-auto" style="width: 11%;" *ngFor="let t of title,index as i">
    <div class="p-2 border rounded position-relative bg-light div-{{i+1}}">
      <h1>{{t}}</h1>
    </div>
  </div>
</div>

</div>
  </div>
</div>
