<div class="container text-center">
  <div class="row">
    <div class="col-md-12 py-5">
      <h1>Forms section</h1>
    <p class="fs-5">{{section}}</p>
    </div>
    <div class="col-md-12 py-5">
      <div *ngIf="section=='Login'" class="col-md-6 m-auto">
        <form [formGroup]="loginForm" class="p-4">
    <label for="" class="py-4 fs-3 fw-bold">Email</label>
    <input type="text" class="form-control bg-transparent m-auto" formControlName="email">
    <p class="fs-6 text-danger" *ngIf="submitted&&loginForm.controls['email'].invalid">Email non valida</p>
    <label for="" class="py-4 fs-3 fw-bold">Password</label>
    <input type="password" class="form-control bg-transparent m-auto" formControlName="password">
    <p class="fs-6 text-danger" *ngIf="submitted&&loginForm.controls['password'].invalid">Password non valida</p>
    <div class="p-2 d-flex justify-content-around">
    <button class="px-5 py-3 bg-success border" (click)="login()">LOGIN</button>
</div>
    </form>
      </div>
      <div *ngIf="section=='Signup'"  class="col-md-6 m-auto">
        <form [formGroup]="signupForm" class="p-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <input type="file" class="d-none my-2" #file accept="image/png, image/gif, image/jpeg, image/jpg" (change)="readURL($event)"> <br>
              <img src="{{selectedImage||defaultImage}}" alt="" class="w-100 rounded-circle my-2">
               <button class="px-2 py-3 bg-warning border w-75" *ngIf="!selectedImage" (click)="file.click()">📷</button>
               <button class="px-2 py-3 bg-danger border w-75" *ngIf="selectedImage" (click)="selectedImage=undefined;fileImage=null">❌</button>
               <p class="fs-6 text-danger" *ngIf="submitted&&!this.selectedImage">Scegli un'immagine da caricare!</p>
            </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
           <label for="" class="py-4 fs-3 fw-bold">Nome Attività</label>
    <input type="text" class="form-control bg-transparent m-auto" formControlName="nome">
    <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['nome'].invalid">Campo non valido. Assicurati di inserire almeno 3 caratteri.</p>
        </div>
        <div class="col-md-12">
          <label for="" class="py-4 fs-3 fw-bold">Tipo Attività</label>
          <select class="form-select bg-transparent m-auto" formControlName="tipoEsercizio">
          <option value=""></option>
          <option value="{{t}}" *ngFor="let t of tipoEsercizio">{{t}}</option>
          </select>
          <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['tipoEsercizio'].invalid">Campo non valido.</p>
        </div>
        <div class="col-md-12">
          <label for="" class="py-4 fs-3 fw-bold">Città</label>
          <select class="form-select bg-transparent m-auto" formControlName="citta">
          <option value=""></option>
          <option value="{{t.id}}" *ngFor="let t of citta">{{t.nome}}</option>
          </select>
          <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['citta'].invalid">Campo non valido.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="" class="py-4 fs-3 fw-bold">Email</label>
    <input type="text" class="form-control bg-transparent m-auto" formControlName="email">
    <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['email'].invalid">Campo non valido. Assicurati di inserire un valore tipo "a&#64;a.com"</p>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
           <label for="" class="py-4 fs-3 fw-bold">Via</label>
    <input type="text" class="form-control bg-transparent m-auto" formControlName="via">
    <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['via'].invalid">Campo non valido. Assicurati di inserire un valore corretto.</p>
        </div>
        <div class="col-md-6">
          <label for="" class="py-4 fs-3 fw-bold">Indirizzo</label>
          <input type="text" class="form-control bg-transparent m-auto" formControlName="indirizzo">
          <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['indirizzo'].invalid">Campo non valido. Assicurati di inserire un valore corretto.</p>
        </div>
        <div class="col-md-3">
          <label for="" class="py-4 fs-3 fw-bold">Civico</label>
          <input type="number" class="form-control bg-transparent m-auto" formControlName="numeroCivico">
          <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['numeroCivico'].invalid">Campo non valido. Assicurati di inserire un valore corretto.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="" class="py-4 fs-3 fw-bold">Password </label>
    <input type="password" class="form-control bg-transparent m-auto" formControlName="password">
    <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['password'].invalid">Campo non valido. Assicurati di inserire almeno 6 caratteri.</p>
    </div>
    <div class="col-md-6">
      <label for="" class="py-4 fs-3 fw-bold" >Ripeti</label>
    <input type="password" class="form-control bg-transparent m-auto" formControlName="ripetiPassword">
    <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['ripetiPassword'].invalid ||
    submitted==true&&signupForm.controls['password'].valid&&signupForm.controls['password'].value!=signupForm.controls['ripetiPassword'].value
    ">Campo non valido. Assicurati di inserire almeno 6 caratteri o che le password coincidano.</p>
  </div>
  <div class="col-md-12 py-4">
    <label for=""></label>
    <input type="checkbox" class="form-check-input" formControlName="dichiaro" (change)="showScheda=!showScheda" id="exampleCheck1">
    <label class="form-check-label px-2" for="exampleCheck1"> Dichiaro di essere il titolare o il rappresentante legale dell'azienda</label>
    <p class="fs-6 text-danger" *ngIf="submitted==true&&signupForm.controls['dichiaro'].invalid">Campo non valido.</p>

  </div>
  <div class="col-md-12" *ngIf="showScheda">
    <div class="col-md-12">
      <h2>Scheda anagrafica società</h2>
    </div>
    <form [formGroup]="schedaForm">
<div class="row">
  <div class="col-md-6">
<label for="" class="py-4 fs-3 fw-bold">Capitale sociale</label>
<input type="text" class="form-control" formControlName="capitaleSociale">
    <p class="fs-6 text-danger" *ngIf="submitted==true&&schedaForm.controls['capitaleSociale'].invalid">Campo non valido. Assicurati di inserire un valore corretto.</p>
  </div>
  <div class="col-md-6">
<label for="" class="py-4 fs-3 fw-bold">Partita Iva</label>
<input type="text" class="form-control" formControlName="pIva">
    <p class="fs-6 text-danger" *ngIf="submitted==true&&schedaForm.controls['pIva'].invalid">Campo non valido. Assicurati di inserire almeno 11 caratteri numerici.</p>
  </div>
  <div class="col-md-12">
    <label for="" class="py-4 fs-3 fw-bold">Titolare/Rappresentante</label>
    <input type="text" class="form-control" formControlName="rappresentante">
        <p class="fs-6 text-danger" *ngIf="submitted==true&&schedaForm.controls['rappresentante'].invalid">Campo non valido. Assicurati di inserire almeno 3 caratteri.</p>
  </div>
</div>
</form>
</div>
          </div>
          <div class="p-2 py-5 d-flex justify-content-around">
            <button class="px-5 py-3 bg-success border" (click)="signup()">SIGNUP</button>
            </div>
          </form>    </div>
    </div>
    <div class="col-md-12 py-5">
      <hr>
      <p class="fs-4 text-center">OR</p>
      <button class="px-5 py-3 bg-warning border" *ngIf="section=='Login'" (click)="section='Signup';submitted=false">Signup</button>
      <button class="px-5 py-3 bg-warning border" *ngIf="section=='Signup'" (click)="section='Login';submitted=false">Login</button>
    </div>
  </div>
</div>
